<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
    {{>header}}
<body>
    <h1>About me</h1>
    <p>I'm.........</p>
    <a href ="/img" style="color: red; font-size: 500%;">IMG page</a>
    <br/>
    <a href ="/"style="color: blue; font-size: 500%;">Index page</a>
</body>
    {{>footer}}
</html>